{% extends 'base.html.twig' %}

{% block title %}Escribano{% endblock %}

{% block body %}
    <h1>Escribano</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ escribano.id }}</td>
            </tr>
            <tr>
                <th>Matricula</th>
                <td>{{ escribano.matricula }}</td>
            </tr>
            <tr>
                <th>Universidad</th>
                <td>{{ escribano.universidad }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ escribano.estado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('escribano_index') }}">back to list</a>

    <a href="{{ path('escribano_edit', {'id': escribano.id}) }}">edit</a>

    {{ include('escribano/_delete_form.html.twig') }}
{% endblock %}
